
*/.ipynb_checkpoints/*
week-5/submission/.ipynb_checkpoints/EVA5_WK_5_1-checkpoint.ipynb
week-5/submission/.ipynb_checkpoints/EVA5_WK_5_2-checkpoint.ipynb
week-5/submission/.ipynb_checkpoints/EVA5_WK_5_3-checkpoint.ipynb
week-5/submission/.ipynb_checkpoints/EVA5_WK_5_4-checkpoint.ipynb
week-7/Trails-2/Week7/.DS_Store
week-7/Trails-2/.ipynb_checkpoints/EVA_AssignmentS7_solution-checkpoint.ipynb
